@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header, .normal {
    background-color: #740b9135;
    padding: 20px;
}

.flexbox {
    background-color: #10591724;
    padding: 20px;
}

img {
    width: 250px;
    height: auto;
}

p, h1, h2 {
    margin-bottom: 10px;
}