@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color:rgba(124, 14, 149, 0.244);
}

main {
    background-color:rgba(10, 154, 92, 0.264);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

p {
    border: 2px solid rgba(25, 2, 30, 0.873);
    
}

h2 {
    border: 2px solid rgba(25, 2, 30, 0.873);
}

img {
    width: 200px;
    flex-direction: row-reverse;
}



footer {
    background-color: rgba(124, 14, 149, 0.244);
}