@charset "UTF-8";

/*
Telas pequenas: até 600px
Celulas: de 600px até 768px
Tablet: de 768 até 992px
Desktop: de 992px até 1200px
Telas grandes: acima de 1200px
*/

@media screen and (min-width:768px) and (max-width:992px) {
    #phone {
        display: none;
    }
    #tablet {
        display: block;
    }
    body {
        background-image: url(imagens/back-tablet.jpg);
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    #tablet {
        display: none;
    }
    #pc {
        display: block;
    }
    #phone {
        display: none;
    }
    body {
        background-image: url(imagens/back-pc.jpg);
    }
}

@media screen and (min-width:1200px) {
    #pc {
        display: none;
    }
    #tv {
        display: block;
    }
    #phone {
        display: none;
    }
    body {
        background-size: cover;
        background-image: url(imagens/back-tv.jpg);
    }
}

@media print {
    #phone {
        display: none;
    }
    #print {
        display: block;
    }
        main {
            border: 1px solid black;
        }
}