@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
html, body {
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
}
main {
    background-color: brown;
    height: 100vh;
    position: relative;
}
#celular {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    translate: translate (-50%, -50%);
    background-color: cadetblue;
}