@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color:rgba(88, 207, 128, 0.741);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%;
}
nav {
   align-self: center;
   flex-wrap: nowrap;
   padding: 10px;
   margin: 15px;
   margin-left: 0px;
   margin-right: 0px;
   
}

h1 {
    align-self: center;
    
    padding-left: 15px;
    
}

a {
    background-color:rgba(2, 87, 30, 0.741);
    color:rgba(232, 246, 237, 0.892);
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

body {
    background-color:rgba(8, 48, 21, 0.877);
}

main {
    background-color:rgba(232, 246, 237, 0.892);
    width: 80vw;
    margin: auto;
    border:4px solid rgba(17, 75, 35, 0.877);
    border-radius: 10px;
}

p {
    margin: 10px;
    margin-top: 5px;
}

h2 {
    margin: 15px;
    margin-bottom: 5px;
}

