@charset "UTF-8";
body{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 14px;
text-align: center;
background-color: rgba(238, 173, 233, 0.496);
h1 {
    font-size: 100px;
    color: rgb(51, 9, 2);
}
}body 