@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 65, 255);
}
h1{
    color: rgb(246, 241, 235);
    font-size: 3em;
    text-shadow: 5px 5px 2px solid black;
    padding: 10px;
    
}