@charset "UTF-8";
body {
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    h1{
        color: navy;
    }
    h2{
        color: blue;
    }
    #primeiro{
        color: lightblue;
        background-color: navy;
    }
    .segundo {
        font-size: bigger;
        font-style: italic;
        color: navy;
        background-color: blue;
    }

}