@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    
    background-image: linear-gradient(to bottom, #F2F2F0, #D9A08B, #D92818, #A62014, #400101);
    
}
main{
   
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 5px, 5px, 15px, rgb(0, 0, 0);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #400101;
    text-align: center;
    text-shadow: 3px, 3px, 6px #200101;
}

h2{
    color: #A62014;
}
 
p{
    text-align: justify; 
}